  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="js/main.js"></script>

  <script>
 $('#btn-order').click(function(event){
   event.preventDefault()

var order ={
  name:$('#order-name').val(),
  email:$('#order-email').val(),
  order:$('#order-description').val()
}
   console.log('place: ' + JSON.stringify(order))
   $.ajax({
     url:'/order',
     method: 'post',
     data: order,
     success: function(resp){
console.log('Order Received' + JSON.stringify(resp))
$('#btn-order-container').html('<h3>Thanks! We will send you an email when your order is ready!</h3>')
     },
     error: function(resp){

     }
   })


 })
  
  </script>